* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #2880b9;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #2880b9;
    padding: 5px;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    color: #2880b9;
    margin-bottom: 10px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #2880b9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  body {
    background-image: url("bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  